# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Entorno virtual
.venv/
env/
venv/
.env
# Archivos de configuración y entorno
.env
*.env

# Archivos de base de datos locales
*.sqlite3

# Archivos de logs
*.log

# Archivos de migraciones de Django (opcional, solo si quieres ignorar migraciones)
# */migrations/*.py
# */migrations/*.pyc

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/

# Archivos de pruebas y cobertura
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Archivos de compilación
build/
dist/
*.egg-info/

#ignorar las fotos de data/visita_photos
data/visita_photos/
data/dummy_photos/